@model IEnumerable<RentACar.Models.Komentar>
@{
    ViewBag.Title = "Index";
}
<h2>Коментари</h2>
@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
*@
<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vozilo.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th><b>Опции</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Korisnik.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vozilo.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SopstvenikId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SopstvenikId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SopstvenikId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>
        $(document).ready(function () {
            $("#tabela").DataTable();
        });
    </script>

}