@model RentACar.Models.Vozilo

@{
    ViewBag.Title = "Details";
}

<h2>Детали за @Model.ModelName</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategorija.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kategorija.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proizvoditel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proizvoditel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sopstvenik.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sopstvenik.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceDay)
        </dd>
    </dl>
</div>


@Html.ActionLink("Прикажи резервации за возилото", "ShowRezervationForVozilo", "Rezervacijas", new { id = Model.VoziloId }, new { }) <br /> <br />

@if (User.IsInRole("User"))
{
@Html.ActionLink("Резервирај", "CreateForVozilo", "Rezervacijas", new { id = Model.VoziloId }, new { }) <br /> <br />





<a href="/Komentars/DodadiKomentarZaVozilo/@Model.VoziloId"><h5>Додај коментар</h5></a>
}
<br />
<h4>Коментари</h4>
<div>

    @foreach (var k in Model.Komentari)
    {
        <div>
            <span>Опис: @k.Description</span> <br />
            <span>Рејтинг: @k.Rating</span> <br /><br />
        </div>
    }

</div>

<p>
    @*
        @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.VoziloId }) <span> | </span>
        }
    *@

    @Html.ActionLink("Back to List", "Index")
</p>
