@model IEnumerable<RentACar.Models.Vozilo>

@{
    ViewBag.Title = "Index";
}

<h2>Возила</h2>

<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
    {
        @Html.ActionLink("Create New", "Create")
    }

</p>
<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kategorija.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proizvoditel.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sopstvenik.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceDay)
            </th>


            <th>
                Опции
            </th>

            <th>

                Резервирај
            </th>



        </tr>
    </thead>


    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategorija.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proizvoditel.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sopstvenik.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceDay)
                </td>


                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.VoziloId }) <span> | </span>

                        @Html.ActionLink("Delete", "Delete", new { id = item.VoziloId }) <span> | </span>
                    }


                    @Html.ActionLink("Details", "Details", new { id = item.VoziloId })
                </td>

                <td>
                    @if (!User.IsInRole("Administrator") && !User.IsInRole("Owner"))
                    {
                        @Html.ActionLink("Резервирај", "CreateForVozilo", "Rezervacijas", new { id = item.VoziloId }, new { })
                    }
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script>
        $(document).ready(function () {
            $("#tabela").DataTable();
        });
    </script>

}