@model RentACar.Models.AddReservation
@{
    ViewBag.Title = "CreateForVozilo";
}

<h2>Креирај резервација</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.VoziloId, "VoziloId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VoziloId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VoziloId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Резервирај" class="btn btn-primary" />
            </div>
        </div>

        <a href="/Voziloes">Назад кон возила</a>

        @if (ViewBag.Poraka != "")
        {
            <p><b>@ViewBag.Poraka</b></p>
        }

    </div>
}


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


@section Scripts{


    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "2019:2021",
                minDate: new Date(2019, 11, 25),

            })
        })
    </script>

}
    
