@model IEnumerable<RentACar.Models.Rezervacija>

@{
    ViewBag.Title = "Index";
}

<h2>Резервации</h2>

<table id="tabela" class="table">

    <thead>
        <tr>
            @if (!User.IsInRole("User"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Korisnik.Name)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Vozilo.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.denoviIznajmuvanje)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            @if (User.IsInRole("User") || User.IsInRole("Owner"))
            {
                <th>Опции</th>
            }
        </tr>
        </thead>

    <tbody>

    @foreach (var item in Model)
    {

        <tr>
            @if (!User.IsInRole("User"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Korisnik.Name)
                </td>
            }
            <td>
                <a href="/Voziloes/Details/@item.VoziloId">
                    @Html.DisplayFor(modelItem => item.Vozilo.ModelName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.denoviIznajmuvanje)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            @if (User.IsInRole("User") || User.IsInRole("Owner"))
            {
        <td>
            <a href="/Rezervacijas/Edit/@item.RezervacijaId">
                <button class="btn btn-primary m-2">
                    Промени
                </button>
            </a>
            <a href="/Rezervacijas/Details/@item.RezervacijaId">
                <button class="btn btn-primary m-2">
                    Детали
                </button>
            </a>
            <a href="/Rezervacijas/Delete/@item.RezervacijaId">
                <button class="btn btn-danger m-2">
                    Избриши
                </button>
            </a>
        </td>
            }
        </tr>

        <!--}-->
    }


        </tbody>
</table>

@section Scripts{

    <script>
        $(document).ready(function () {
            $("#tabela").DataTable();
        });
    </script>

}