@model IEnumerable<RentACar.Models.Proizvoditel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
    {
        @Html.ActionLink("Create New", "Create");
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ProizvoditelId }) <span> | </span>

                @Html.ActionLink("Delete", "Delete", new { id = item.ProizvoditelId })  <span> | </span>
            }


            @Html.ActionLink("Details", "Details", new { id = item.ProizvoditelId })
        </td>
    </tr>
}

</table>
